*, *::before, *::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; 
  margin: 0px;
  font-weight: bold;
}

#visualization {
  margin: 0 auto;
  display: block;
  border: 1px solid #F43A01;
}

.select {
  padding: 10px 60px 10px 0px;
  margin: 10px 20px;
  border-radius: 8px;
  background: #f0f0f0;
  border: 2px solid #F43A01;
  border-radius: 8px;
  text-align-last: left;
  color: #F43A01;
}
.button {
  padding: 10px 30px;
  margin: 10px 20px;
  border: 2px solid #F43A01;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif; 
  color: #F43A01;
}

.button:hover {
  color: white;
  background-color: #F43A01;
}

.button-start {
  border: green;
  background-color: green;
  color: azure;
}
.button-start:hover {
  border: lime;
  color: white;
  background-color: lightgreen;
}

.button-reset {
  background-color: red;
  color: azure;
}
.button-reset:hover {
  border: lightsalmon;
  background-color: lightcoral;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.side-menu{
  display: flex;
  margin-left: 10%;
}

.checkbox-label{
  display: flex;
  align-items: center;
  color: #F43A01;
}

.checkbox {
  -webkit-appearance: none;
  padding: 7px;
  margin: 10px;
  border-radius: 8px;
  background: #f0f0f0;
  border: 2px solid #F43A01;
  border-radius: 3px;
}

.checkbox:checked{
  background-color: #F43A01;
}